CIEYIE_1013/kutyavilag1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="konyv">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="cim" name="cim"/>
                <xs:element type="szerzo" name="szerzo"/>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="szereplo"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:int" name="isbn"/>
        </xs:complexType>
    </xs:element>
    <simpleType name="cim">
        <restriction base="string">
        </restriction>
    </simpleType>
    <simpleType name="szerzo">
        <restriction base="string">
        </restriction>
    </simpleType>
</xs:schema>